dist/*
scripts/*
node_modules/*
.github/*
.vscode/*
.idea/*
.husky/*
.prettierignore
.prettierrc.js
.eslintrc.js
jest.config.js
.yarn/*
yarn.lock
package-lock.json
package.json
README.md
tsconfig.json
webpack.config.js
